<nav class="navbar navbar-dark bg-success navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="{{logo}}" width="30" height="30" class="d-inline-block align-top" alt=""> {{game}}
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="nav-link"><span class="text-warning" [innerHTML]="money | bigvalue"> </span></div>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <button class="btn btn-danger my-2 my-sm-0" (click)="upMulti()">Buy x{{multi}}</button>
    </div>
  </div>
</nav>