@import '@angular/material/prebuilt-themes/indigo-pink.css';

body{
    background-image: url(assets/img/font.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}