<div class="row">
  <div *ngFor="let p of products">
    <div class="col-sm-6">
      <div class="panel panel-success">
        <div class="row">
          <div class="col-sm-3">
            <img class="zero img-responsive pull-left" src="{{urlS}}{{p.logo}}">
          </div>
          <div class="col-sm-9">

            <div class="row">
              <div class="col-sm-12">
                <mat-card-title>{{p.name}} </mat-card-title>
              </div>
              <div class="col-sm-12">
                <mat-card-subtitle>{{p.quantite}}</mat-card-subtitle>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <mat-progress-bar value="0"></mat-progress-bar>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">{{p.revenu}} $</div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">{{p.timeleft}}</div>
            </div>


            <div class="row">
              <div class="col-sm-12">
                <button class="btn" [disabled]="p.cout < world.score">
                  <div class="row">
                    <div class="col-sm-4">Buy x1</div>
                    <div class="col-sm-4">{{p.cout}} $</div>
                  </div>{{achat}}
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image src="{{urlS}}{{p.logo}}">
        </div>
        <div class="headC">
          <mat-card-title>{{p.name}}</mat-card-title>
          <mat-card-subtitle>{{p.quantite}}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-progress-bar value="0">
        </mat-progress-bar>
        <mat-grid-tile>{{p.revenu}}</mat-grid-tile>
        <mat-grid-tile>{{p.timeleft}}</mat-grid-tile>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" class="productBuy" layout = "row" layout-wrap>
            <div flex = "50">Buy x1</div>
            <div flex = "30">{{p.cout}} $</div>
        </button>
      </mat-card-actions>
    </mat-card>
</mat-grid-tile>
</mat-grid-list>-->

<!--
<div class="row">
  <div *ngFor="let p of products; let i = index">
    <div class="col-sm-6" *ngIf="i<3;">
      <div class="card">
        <div class="row">
          <div class="col-2"><img class="card-img-top" src="{{urlS}}{{p.logo}}"></div>
          <div class="col-10">{{p.name}}</div>
        </div>
      </div>      
    </div>
    <div class="col-sm-6">
  </div>
</div>-->